[Unit]
Description=PipeWire System-wide Daemon Socket

[Socket]
Priority=6
ListenStream=/run/pipewire/pipewire-0
SocketGroup=audio
SocketMode=0660

[Install]
WantedBy=sockets.target
