[Unit]
Description=PipeWire PulseAudio System-wide Daemon
After=dbus.service
Wants=dbus.service
Requires=pipewire.socket pipewire-pulse.socket
After=pipewire.service
ConditionVirtualization=!container

[Service]
Type=simple
ExecStart=/usr/bin/pipewire-pulse
Environment="PIPEWIRE_RUNTIME_DIR=/run/pipewire"
Environment="XDG_RUNTIME_DIR=/run/pipewire"
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/run/dbus/system_bus_socket"
User=root
Group=audio
UMask=0007

[Install]
WantedBy=multi-user.target
