[Unit]
Description=WirePlumber System-wide Session Manager
After=dbus.service bluetooth.service
Wants=dbus.service bluetooth.service
Requires=pipewire.service
After=pipewire.service
BindsTo=pipewire.service

[Service]
Type=simple
ExecStart=/usr/bin/wireplumber -p main-systemwide
Environment="PIPEWIRE_RUNTIME_DIR=/run/pipewire"
Environment="XDG_RUNTIME_DIR=/run/pipewire"
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/run/dbus/system_bus_socket"
#Environment="WIREPLUMBER_DEBUG=4"
User=root
Group=audio
UMask=0007

[Install]
WantedBy=multi-user.target
